*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "inter", sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #040c2a;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
}

input,
textarea {
  background: transparent;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Line clamp  */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.line-clamp.line-3 {
  --line-clamp: 3;
}

/* Show / hide element */
.hide {
  display: none !important;
}

.show {
  display: block !important;
}

/* Header */
.header {
  position: relative;
}

.header .container-fluid {
  padding: 0;
}

.header__top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px 0px;
  background: linear-gradient(
    90deg,
    rgb(46, 14, 56) 0%,
    rgb(27, 59, 84) 28.1654%,
    rgba(19, 28, 63, 0.9) 68.4985%,
    rgb(62, 13, 82) 100%
  );
}

.header__inner {
  position: relative;
  overflow: hidden;

  display: flex;
  gap: 48px;

  height: 72px;

  background: linear-gradient(
    90deg,
    rgba(112, 7, 7, 0.6) 0%,
    rgb(19, 28, 63) 50%,
    rgb(113, 19, 7) 100%
  );

  transition: all 0.4s;
}

.header__logo {
  position: absolute;
  left: 32px;
  top: 8px;

  width: 78px;
  height: 53px;
}

.header__logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header__nav-bar-list {
  display: flex;
  list-style: none;

  margin-left: 190px;

  transition: all 2s;
}

.header__nav-bar-link {
  display: block;
  line-height: 72px;
  font-family: "Beaufort for LOL Medium", "Beaufort for LOL Medium Placeholder",
    sans-serif;
  font-size: 2rem;
  padding: 0 12px;
  color: #fcf7ee;
  text-transform: uppercase;
}

.header__nav-bar-link:hover {
  color: #ed9039;
  text-decoration: underline;
}

/* start header__nav-bar-mobile */

.header__nav-bar-mobile {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 63px;
  transform: translateX(-50%);
}

.header__nav-bar-mobile ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;

  padding: 0;
  margin: 0;
}

.header__nav-bar-mobile a {
  display: block;
  font-family: "Beaufort for LOL Medium", "Beaufort for LOL Medium Placeholder",
    sans-serif;
  font-size: 1.8rem;
  color: #fcf7ee;
  padding: 8px 8px;
}

.header__nav-bar-mobile a:hover {
  color: #ed9039;
  text-decoration: underline;
}

a.header__nav-bar-mobile-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  width: 184px;
  height: 54px;
  color: #fcf7ee;
  margin-top: 8px;
  padding: 0;

  background: linear-gradient(
    135deg,
    rgb(237, 180, 57) -3%,
    rgb(237, 171, 57) 4%,
    rgb(237, 144, 57) 27%,
    rgb(237, 144, 57) 40%,
    rgb(237, 144, 57) 62%,
    rgb(237, 171, 57) 97%,
    rgb(237, 180, 57) 103%
  );

  text-transform: uppercase;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

a.header__nav-bar-mobile-btn:hover {
  opacity: 0.9;
  color: #fcf7ee;
  text-decoration: none;
}
/* end header__nav-bar-mobile */

.header__action-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 183px;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgb(237, 180, 57) -3%,
    rgb(237, 171, 57) 4%,
    rgb(237, 144, 57) 27%,
    rgb(237, 144, 57) 40%,
    rgb(237, 144, 57) 62%,
    rgb(237, 171, 57) 97%,
    rgb(237, 180, 57) 103%
  );
}

.header__action-buy p {
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #fcf7ee;
  letter-spacing: -0.4px;
}

.header__icon-more,
.header__icon-close {
  display: none;
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 22px;
}

.header__decor-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.header__decor-right {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  width: 231px;
  height: 137px;
  object-position: center center;
  transform: rotate(180deg);
}

.header__img-wrap {
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.header__img-wrap .header__img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center bottom;
  object-fit: cover;
}

.header__thunder {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 9;

  transform: translateX(-50%);

  width: 376px;
  height: 554px;
}

.header__thunder img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
/* end of header */

/* start of marketing */
.marketing .container-fluid {
  padding: 0;
}

.marketing {
  background: #3c160c;
}

.marketing__left {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 96px;
}

.marketing__sub-heading {
  background-image: linear-gradient(
    131deg,
    rgb(237, 144, 57) 0%,
    rgb(237, 180, 57) 22.4711%,
    rgb(237, 153, 57) 51.2192%,
    rgb(232, 163, 67) 81.2789%,
    rgb(237, 180, 57) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Nếu cần hỗ trợ Firefox */
  background-clip: text;
  color: transparent;

  font-family: "Beaufort for LOL Bold", "Beaufort for LOL Bold Placeholder",
    sans-serif;
  font-size: 3.2rem;
  line-height: 38.4px;
}

.marketing__heading {
  text-align: center;
  background-image: linear-gradient(
    131deg,
    rgb(237, 144, 57) 0%,
    rgb(237, 180, 57) 22.4711%,
    rgb(237, 153, 57) 51.2192%,
    rgb(232, 163, 67) 81.2789%,
    rgb(237, 180, 57) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Nếu cần hỗ trợ Firefox */
  background-clip: text;
  color: transparent;

  font-family: "Beaufort for LOL Bold", "Beaufort for LOL Bold Placeholder",
    sans-serif;
  font-size: 4.8rem;
  line-height: 62.4px;
}

.marketing__text {
  margin: 32px 0;
  color: #fcf7ee;
  font-family: Inter, sans-serif;
  font-size: 1.8rem;
  line-height: 25.2px;
  text-align: center;
}

.marketing__price {
  position: relative;
  color: #eed09999;
  font-family: "Beaufort for LOL Medium", "Beaufort for LOL Medium Placeholder",
    sans-serif;
  font-size: 4.8rem;
  letter-spacing: -0.96px;
}

.marketing__price::before {
  content: "";
  position: absolute;
  top: 25px;
  left: -2px;
  right: 0;

  height: 2px;

  background: linear-gradient(
    135deg,
    rgb(237, 180, 57) -3%,
    rgb(237, 171, 57) 4%,
    rgb(237, 144, 57) 27%,
    rgb(237, 144, 57) 40%,
    rgb(237, 144, 57) 62%,
    rgb(237, 171, 57) 97%,
    rgb(237, 180, 57) 103%
  );
  transform: rotate(-7deg);
}

.marketing__sale-price {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #fcf7ee;
  font-family: "Beaufort for LOL Medium", "Beaufort for LOL Medium Placeholder",
    sans-serif;
  font-size: 3.2rem;
  line-height: initial;
}

.marketing__sale-price span:first-of-type {
  font-size: 1.6rem;
}

.marketing__sale-price span:last-of-type {
  letter-spacing: -1.28px;
}

.marketing__count-down {
  display: flex;
  align-items: center;
  gap: 8px;

  margin: 32px 0 17px;
}

.marketing__count-down-text {
  font-family: "Beaufort for LOL Medium", "Beaufort for LOL Medium Placeholder",
    sans-serif;
  font-size: 2rem;
  color: #eed09999;
}

.marketing__time-down {
  display: flex;

  color: #fcf7ee;
  font-family: "Beaufort for LOL Bold", "Beaufort for LOL Bold Placeholder",
    sans-serif;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.marketing__time-down span {
  color: #e5b364;
}

.marketing__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 342px;
  height: 68px;
  background: linear-gradient(
    135deg,
    rgb(237, 180, 57) -3%,
    rgb(237, 171, 57) 4%,
    rgb(237, 144, 57) 27%,
    rgb(237, 144, 57) 40%,
    rgb(237, 144, 57) 62%,
    rgb(237, 171, 57) 97%,
    rgb(237, 180, 57) 103%
  );

  color: #fcf7ee;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.marketing__btn:hover {
  background: linear-gradient(
    118deg,
    rgb(26, 100, 148) -3%,
    rgb(178, 46, 28) 102%
  );
}

/* marketing slider */

.marketing .row {
  margin-left: 0;
  margin-right: 0;
}

.marketing .row > * {
  padding-left: 0;
  padding-right: 0;
}

.marketing__slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: auto;
}

.marketing__slides {
  display: flex;
  width: 800%;
  height: 100%;
  transition: margin-left 0.5s ease;
}

.marketing__slides img {
  width: 12.5%;
  flex-shrink: 0;
  height: 100%;
  object-position: center center;
  object-fit: cover;
}

.marketing__btn-prev,
.marketing__btn-next {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.marketing__btn-next {
  left: initial;
  top: 50%;
  right: 16px;
  transform: translateY(-50%) rotate(180deg);
}

.marketing__dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;

  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.marketing__dot {
  flex-shrink: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #fcf7ee;
  opacity: 0.5;
}

.marketing__dot:hover,
.marketing__dot--active {
  opacity: 1;
}
/* end of marketing */

/* start of story */
.story {
  padding: 96px 0;
  background: #040c2a;
}

.story-item {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.story-item.reverse {
  flex-direction: row-reverse;
}

.story__avatar-wrap {
  position: relative;
  width: 444px;
  height: 511px;
  flex-shrink: 0;
}

.store__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;

  mask: url("https://framerusercontent.com/images/9ZsctduEbgFhUogcNQFIycrIeW0.svg")
    center center / cover no-repeat alpha;

  -webkit-mask: url("https://framerusercontent.com/images/9ZsctduEbgFhUogcNQFIycrIeW0.svg")
    center center / cover no-repeat alpha;
}

.story__avatar-border {
  position: absolute;
  inset: 0;
}

.story-item__body {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 64px 48px;
}

.story__sub-heading {
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(
    131deg,
    rgb(237, 144, 57) 0%,
    rgb(237, 180, 57) 22.4711%,
    rgb(237, 153, 57) 51.2192%,
    rgb(232, 163, 67) 81.2789%,
    rgb(237, 180, 57) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Beaufort for LOL Bold", "Beaufort for LOL Bold Placeholder",
    sans-serif;
  font-size: 3.2rem;
  line-height: 38.4px;
}

.story__heading {
  text-transform: uppercase;
  text-align: center;

  letter-spacing: -1.44px;

  background-image: linear-gradient(
    131deg,
    rgb(237, 144, 57) 0%,
    rgb(237, 180, 57) 22.4711%,
    rgb(237, 153, 57) 51.2192%,
    rgb(232, 163, 67) 81.2789%,
    rgb(237, 180, 57) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Nếu cần hỗ trợ Firefox */
  background-clip: text;
  color: transparent;

  font-family: "Beaufort for LOL Bold", "Beaufort for LOL Bold Placeholder",
    sans-serif;
  font-size: 4.8rem;
  line-height: 62.4px;
}

.story__desc {
  font-family: Inter, sans-serif;
  font-size: 1.8rem;
  color: #fcf7ee;
  line-height: 25.2px;
  text-align: center;
}

.story__desc:first-of-type {
  margin-top: 32px;
}

.story__desc + .story__desc {
  margin-top: 20px;
}
/* end of story */

/* start of story mobile */
.story-mobile {
  display: none;
  padding: 16px 0;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.story-mobile__inner {
  position: relative;
}

.story-mobile__sliders {
  display: flex;
  align-items: center;
  width: 300%;
  height: auto;
}

.story-mobile__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-mobile__slider-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33.33333%;
  height: 100%;
}

.story-mobile__avatar-item-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 267px;
  height: 305px;
  background: linear-gradient(135deg, #f2a73d 0%, #eb9e3e 100%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.story-mobile__avatar-wrap {
  width: 97%;
  height: 97%;

  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.store-mobile__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-mobile__avatar-border {
  position: absolute;
  inset: 0;
  display: block !important;
}

.story-mobile__content {
  margin-top: 40px;
  text-align: center;
}

.story-mobile__sub-heading {
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(
    131deg,
    rgb(237, 144, 57) 0%,
    rgb(237, 180, 57) 22.4711%,
    rgb(237, 153, 57) 51.2192%,
    rgb(232, 163, 67) 81.2789%,
    rgb(237, 180, 57) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Beaufort for LOL Bold", "Beaufort for LOL Bold Placeholder",
    sans-serif;
  font-size: 1.8rem;
  line-height: 19.2px;
}

.story-mobile__heading {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1.44px;
  background-image: linear-gradient(
    131deg,
    rgb(237, 144, 57) 0%,
    rgb(237, 180, 57) 22.4711%,
    rgb(237, 153, 57) 51.2192%,
    rgb(232, 163, 67) 81.2789%,
    rgb(237, 180, 57) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Beaufort for LOL Bold", "Beaufort for LOL Bold Placeholder",
    sans-serif;
  font-size: 2.4rem;
  line-height: 28.8px;
}

.story-mobile__desc {
  margin-top: 32px;
  color: #fcf7ee;
  font-size: 1.4rem;
  line-height: 19.6px;
}

.story-mobile__control {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 16px;
}

.story-mobile__prev {
}

.story-mobile__next {
  rotate: 180deg;
}

.story-mobile__dots {
  display: flex;
  align-items: center;
  gap: 5px;
}

.story-mobile__dot {
  flex-shrink: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #fcf7ee;
  opacity: 0.5;
}

.story-mobile__dot.active {
  opacity: 1;
}
/* end of story mobile */

/* start of img-full */
.img-full .col-12 {
  padding-left: 0;
  padding-right: 0;
}

.img-full__wrap {
  position: relative;
  width: 100%;
}

.img-full__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-full__img-over-lay {
  position: absolute;
  inset: 0;

  background: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.2) -90.6742%);
}

.img-full__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  text-align: center;
}

.img-full__sub-heading {
  text-transform: uppercase;
  background-image: linear-gradient(
    131deg,
    rgb(237, 144, 57) 0%,
    rgb(237, 180, 57) 22.4711%,
    rgb(237, 153, 57) 51.2192%,
    rgb(232, 163, 67) 81.2789%,
    rgb(237, 180, 57) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  font-family: "Beaufort for LOL Bold", "Beaufort for LOL Bold Placeholder",
    sans-serif;
  font-size: 3.2rem;
  line-height: 38.4px;
  letter-spacing: -1.28px;
}

.img-full__heading {
  text-transform: uppercase;
  background-image: linear-gradient(
    131deg,
    rgb(237, 144, 57) 0%,
    rgb(237, 180, 57) 22.4711%,
    rgb(237, 153, 57) 51.2192%,
    rgb(232, 163, 67) 81.2789%,
    rgb(237, 180, 57) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  font-family: "Beaufort for LOL Bold", "Beaufort for LOL Bold Placeholder",
    sans-serif;
  font-size: 4.8rem;
  line-height: 62.4px;
  letter-spacing: -1.44px;
}
/* end of img-full */

/* start of more__text */
.more {
  margin: 16px auto;
  padding: 10px;
  max-width: 720px;
  text-align: center;
}

.more__text {
  font-family: Inter, sans-serif;
  font-size: 1.8rem;
  color: #fcf7ee;
  line-height: 27px;
  text-align: center;
}

.more__text + .more__text {
  margin-top: 10px;
}

.more__link {
  display: block;
  text-decoration: underline;
  margin-top: 30px;

  color: #fcf7ee;

  text-transform: uppercase;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: 2rem;
}
/* end of more */

/* start of hero */
.hero {
  margin-top: 16px;
  padding: 48px 0;
  text-align: center;
}

.hero__sub-heading {
  text-transform: uppercase;
  background-image: linear-gradient(
    131deg,
    rgb(237, 144, 57) 0%,
    rgb(237, 180, 57) 22.4711%,
    rgb(237, 153, 57) 51.2192%,
    rgb(232, 163, 67) 81.2789%,
    rgb(237, 180, 57) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  font-family: "Beaufort for LOL Bold", "Beaufort for LOL Bold Placeholder",
    sans-serif;
  font-size: 3.2rem;
  line-height: 38.4px;
}

.hero__heading {
  text-transform: uppercase;
  background-image: linear-gradient(
    131deg,
    rgb(237, 144, 57) 0%,
    rgb(237, 180, 57) 22.4711%,
    rgb(237, 153, 57) 51.2192%,
    rgb(232, 163, 67) 81.2789%,
    rgb(237, 180, 57) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  font-family: "Beaufort for LOL Bold", "Beaufort for LOL Bold Placeholder",
    sans-serif;
  font-size: 6.2rem;
  line-height: 80.6px.4px;
}

.hero__desc {
  margin: 12px auto 0;

  font-family: Inter, sans-serif;
  font-size: 2.3rem;
  color: #fcf7ee;
  line-height: 32.2px;
  text-align: center;
  max-width: 720px;
}

.hero__img-wrap {
  margin: 25px auto;
  height: 378px;
  max-width: 1344px;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero__img-bottom {
  gap: 12px;
  justify-content: center;
}

.hero__img-item-wrap {
  position: relative;
  width: 168px;
  height: 64px;
}

.hero__img-item {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero__img-decor {
  position: absolute;
  inset: 0;
}
/* end of hero */

/* end of img-bottom-border */
.img-full-border {
  width: 100%;
  border-top: 1px solid #dd9333;
  border-bottom: 1px solid #dd9333;
}

.img-full-border__img {
  width: 100%;
  height: 641px;
  object-fit: cover;
  object-position: center center;
}
/* end of img-bottom-border */

/* start of discover */
.discover {
  padding: 48px 0;
}

.discover__top {
  text-align: center;
}

.discover__item-sub-heading {
  text-transform: uppercase;
  background-image: linear-gradient(
    131deg,
    rgb(237, 144, 57) 0%,
    rgb(237, 180, 57) 22.4711%,
    rgb(237, 153, 57) 51.2192%,
    rgb(232, 163, 67) 81.2789%,
    rgb(237, 180, 57) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Beaufort for LOL Bold", "Beaufort for LOL Bold Placeholder",
    sans-serif;
  font-size: 3.2rem;
  line-height: 38.4px;
}

.discover__item-heading {
  text-transform: uppercase;
  background-image: linear-gradient(
    131deg,
    rgb(237, 144, 57) 0%,
    rgb(237, 180, 57) 22.4711%,
    rgb(237, 153, 57) 51.2192%,
    rgb(232, 163, 67) 81.2789%,
    rgb(237, 180, 57) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Beaufort for LOL Bold", "Beaufort for LOL Bold Placeholder",
    sans-serif;
  font-size: 6.2rem;
  line-height: 80.6px.4px;
}

.discover__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;

  margin-top: 40px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.discover__item {
  position: relative;
  width: 100%;
  height: 631px;

  border: 2px solid #dd9333;
  border-radius: 16px;
  overflow: hidden;
}

.discover__item:hover {
  border-color: transparent;
}

.discover__item:hover .discover__img {
  scale: 1.1;
}

.discover__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: scale 0.4s;
}

.discover__item-over-lay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 0.6) 100%
  );
}

.discover__item-over-lay-out-site {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    64% 50% at 50% 50%,
    rgba(20, 20, 20, 0.05) 0%,
    rgba(20, 20, 20, 0.6) 100%
  );
}

.discover__item-content {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}

.discover__item-category {
  font-family: "Beaufort for LOL Medium", "Beaufort for LOL Medium Placeholder",
    sans-serif;
  font-size: 2rem;
  line-height: 26px;
  letter-spacing: -0.4px;
  color: #f7e9ce;
}

.discover__item-name {
  font-family: "Beaufort for LOL Medium", "Beaufort for LOL Medium Placeholder",
    sans-serif;
  font-size: 2.3rem;
  line-height: 27.6px;
  letter-spacing: -0.46px;
  color: #f7e9ce;
}

.discover__more {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 172px;
  height: 60px;
  margin: 40px auto 0;

  text-transform: uppercase;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: 2rem;
  color: #f7e9ce;
  background: linear-gradient(
    135deg,
    rgb(237, 180, 57) -3%,
    rgb(237, 171, 57) 4%,
    rgb(237, 144, 57) 27%,
    rgb(237, 144, 57) 40%,
    rgb(237, 144, 57) 62%,
    rgb(237, 171, 57) 97%,
    rgb(237, 180, 57) 103%
  );
  box-shadow: rgba(182, 76, 61, 0.29) 0px 0px 0px 0px,
    rgba(182, 76, 61, 0.25) 0px 0px 0px 0px,
    rgba(182, 76, 61, 0.1) 0px 0px 0px 0px;
}

.discover__more:hover {
  opacity: 0.9;
}
/* end of discover */

/* start of img-bottom */

.img-bottom .row > * {
  padding-left: 0;
  padding-right: 0;
}

.img-bottom__img-wrap {
  width: 100%;
  max-height: 573px;
}
.img-bottom__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end of img-bottom */

/* start of footer */
.footer {
  padding: 32px 0 64px;
}

.footer .row > * {
  padding-left: 0;
  padding-right: 0;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer__social-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 61px;
}

.footer__social-item-border {
  position: absolute;
  inset: 0;
}

.footer__list-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 56px 0 24px;
  width: 100%;
  height: 95px;
}

.footer__logo-item {
  height: 100%;
  object-fit: cover;
}

.footer__copy-right {
  text-align: center;
  font-family: Inter, "Inter Placeholder", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #f7e9ce;
}

/* end of footer */

/* MEDIA RESPONSIVE */
@media screen and (max-width: 1439.98px) {
  /* start of hero */
  .hero__heading {
    font-size: 4.8rem;
  }

  .hero__desc {
    font-size: 1.8rem;
    line-height: 25.2px;
  }
  /* end of hero */

  /* start of discover */
  .discover__item-heading {
    font-size: 4.8rem;
  }

  .discover__item {
    max-height: 590px;
  }
  /* end of discover */
}

@media screen and (max-width: 1279.98px) {
  /* responsive header*/
  .header__inner.xl {
    background: linear-gradient(
      90deg,
      rgba(140, 0, 0, 0.6) 0%,
      rgb(64, 19, 55) 50%,
      rgb(32, 8, 69) 100%
    );

    height: 310px;
    padding-bottom: 10px;
  }

  .header__action-buy {
    display: none;
  }

  .header__nav-bar {
    display: none;
  }

  .header__icon-more {
    display: block;
  }

  .header__icon-close {
    display: block;
  }

  .header__decor-right {
    display: block;
  }

  .header__thunder {
    height: 483px;
    width: 324px;
  }
  /* end responsive header*/

  /* start of marketing */
  .marketing__sub-heading {
    font-size: 2rem;
  }
  /* end of marketing */

  /* start of story */
  .story {
    padding: 32px 0;
  }

  .story__sub-heading {
    font-size: 2rem;
  }

  .story-item__body {
    padding: 48px 48px;
  }
  /* end of story */

  /* start of img-full*/
  .img-full__img {
    max-height: 858px;
  }

  .img-full__sub-heading {
    font-size: 2rem;
  }
  /* end of img-full*/

  /* end more*/
  .more__text {
    font-size: 1.4rem;
    line-height: 21px;
  }
  /* end more*/

  /* start hero */
  .hero__sub-heading {
    font-size: 2rem;
  }

  .hero__img-wrap {
    max-height: 331px;
  }
  /* end hero */

  /* start img-full-border */
  .img-full-border__img {
    height: 384px;
  }
  /* end img-full-border */

  /* start of discover */
  .discover__item-sub-heading {
    font-size: 2rem;
  }

  .discover__list {
    max-width: 720px;
  }

  .discover__item {
    max-height: 350px;
  }

  /* end of discover */
}
/* end media query max 1279.98px */

@media screen and (max-width: 1199.98px) {
  /* start of story */
  .story__avatar-wrap {
    width: 400px;
    height: 459px;
  }
  /* end of story */

  /* start of discover */
  .discover__more {
    font-size: 1.6rem;
    width: 144px;
  }
  /* end of discover */
}

@media screen and (max-width: 990.98px) {
  /* start of story */
  .story__avatar-wrap {
    width: 323px;
    height: 371px;
  }

  .story__heading {
    font-size: 4.6rem;
  }

  .story__heading {
    font-size: 4rem;
  }

  .story-item__body {
    padding: 48px 32px;
  }

  .story__desc {
    font-size: 1.4rem;
  }
  /* end of story */

  /* start of hero */
  .hero__img-wrap {
    max-height: 205px;
  }
  /* end of hero */

  /* start of footer */
  .footer__list-logo {
    height: 80px;
  }
  /* end of footer */
}

@media screen and (max-width: 767.98px) {
  /* responsive header*/
  .header__thunder {
    height: 287px;
    width: 192px;
  }
  /* end responsive header*/

  /* start of marketing */
  .marketing__sub-heading {
    line-height: 19.2px;
    letter-spacing: -0.64px;
    font-size: 1.6rem;
  }

  .marketing__heading {
    line-height: 28.8px;
    font-size: 2.4rem;
    letter-spacing: -0.96px;
  }

  .marketing__text {
    font-size: 1.4rem;
    margin: 16px 0 0;
  }

  .marketing__sale-price {
    font-size: 1.6rem;
  }

  .marketing__count-down {
    margin-top: 0;
  }

  .marketing__count-down-text {
    font-size: 1.4rem;
  }

  /* end of marketing */

  /* start of story */
  .story {
    display: none;
  }
  /* end of story */

  /* start of story mobile */
  .story-mobile {
    display: block;
  }
  /* end of story mobile */

  /* start img-full*/

  .img-full__sub-heading {
    font-size: 1.6rem;
    line-height: 19.2px;
    letter-spacing: -0.64px;
  }

  .img-full__heading {
    font-size: 2.4rem;
    letter-spacing: -0.96px;
    line-height: 28.8px;
  }
  /* end img-full*/

  /* start hero */
  .hero .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .hero__sub-heading {
    font-size: 1.6rem;
    line-height: 19px;
    letter-spacing: -0.64px;
  }

  .hero__heading {
    font-size: 2.4rem;
    letter-spacing: -0.96px;
    line-height: 28.8px;
  }

  .hero__desc {
    font-size: 1.4rem;
    line-height: 19.6px;
  }

  .hero__img-wrap {
    max-height: 140px;
  }
  /* end hero */

  /* start img-full-border */
  .img-full-border__img {
    height: 290px;
  }
  /* end img-full-border */

  /* start of discover */
  .discover__item-sub-heading {
    font-size: 1.6rem;
    line-height: 19.2px;
    letter-spacing: -0.64px;
  }

  .discover__item-heading {
    font-size: 2.4rem;
    line-height: 28.8px;
    letter-spacing: -0.96px;
  }

  .discover__list {
    grid-template-columns: 1fr;
  }

  /* start of discover */
  .discover__more {
    font-size: 1.3rem;
    width: 123px;
  }
  /* end of discover *

  

  /* start of footer */

  .footer__list-logo {
    margin-top: 30px;
  }

  .footer__list-logo {
    height: 56px;
  }
  /* end of footer */
}
/* END MEDIA RESPONSIVE */
